.files-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 50px;
  place-items: center;
  list-style: none;
}

@media screen and (max-width: 650px) {
  .files-container {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    margin: 30px auto;
  }
}
